/* =================================
  Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 'Roboto', sans-serif;
  color: #222;
  background: #f6f7f7;
  padding-bottom: 3em;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  font-size: 1.12em;
  height: 46px;
  padding-bottom: 1em;
  padding-left: 0;
  background: none;
  border: none;
  outline: 0;
  border-bottom: 4px solid #e4e4e4;
  transition: border-color .4s;
}

input ~ input {
  margin-left: 5px;
}

input:focus {
  border-color: #c1c1c1;
}

button {
  width: 40px;
  height: 35px;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  position: relative;
  z-index: 2000;
}

/* =================================
  Page Components
==================================== */

.main-title {
  font-size: 1.4em;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.main-title:before {
  font-family: 'Material Icons';
  content: "\E030";
  vertical-align: middle;
  font-size: 1.5em;
}

.search-form input:last-of-type {
  margin-right: -40px;
}
.search-form input:nth-of-type(1) {
  width: 65%;
}
.search-form input:nth-of-type(2) {
  width: 35%;
}
.search-form input:only-of-type {
  width: 100%;
  padding-right: 35px;
}

.search-button {
  float: right;
  margin-right: -10px;
}

.icn-search {
  font-weight: 700;
}

.icon-help,
.icn-album {
  font-size: 6em;
  margin-bottom: 12px;
  color: #dfdfdf;
  display: block;
}

/* album LIST COMPONENTS -------- */

.no-albums,
.desc  {
  color: #b0b0b0;
  height: 140px;
  margin-top: 50px;
  text-align: center;
  font-size: 1.25em;
}

.album-list li {
  margin: 1.925em 0 0;
}

.album-list a {
  margin: auto;
}

.album-title {
  display: block;
  font-size: 1.1em;
  line-height: 1.2;
  color: #000;
  font-weight: 500;
}

.album-year {
  color: #9d9d9d;
}

.album-wrap {
  background-color: #fff;
  margin-bottom: .8em;
  position: relative;
}

.-placeholder {
  color: #dadada;
  font-size: 5em;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* album PAGE -------- */

.album-header-wrapper {
  position: relative;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #666;
}

.album-header {
  position: relative;
  top: 0;
  padding-top: 25px;
}

.main-info {
  position: relative;
  left: 45%;
  top: 50px;
  color: #f6f7f7;
}

.main-info h1 {
  margin: 0;
  width: 60%;
  width: 60%;
}

.main-info span {
  font-weight: bold;
  color: #ddd;
  font-size: 1.2em;
}

.album-header a {
  position: relative;
  top: 0;
  margin-top: 50px;
  color: #999;
  font-size: 1.25em;
  transition: .5s;
}

.album-header a:hover {
  color: #f6f7f7
}

#main-title a {
  color: #f6f7f7;
}

#main-title a:hover {
  color: #2ebd59;
}

.album-image {
  border: 10px solid #f6f7f7;
  background-color: #f6f7f7;
  position: absolute;
  margin: 25px 0 0;
  height: 350px;
  width: 350px;
}

.album-image img {
  opacity: .95;
  transition: .5s;

}

.album-image:hover img {
  opacity: 1;
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.tracklist {
  position: relative;
  margin: 0;
  left: 40%;
  text-indent: 20px;
}

.tracklist li {
  margin-top: 10px;
}

/* =================================
  Layout Styles
==================================== */

.inner,
.main-content {
  width: 90%;
  max-width: 1025px;
  margin: auto;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  min-height: 80px;
  z-index: 1000;
}

/* =================================
  Helper Classes
==================================== */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
  .album-list li {
    text-align: center;
  }
}

@media (min-width: 550px) {

  .album-list li {
    float: left;
    width: 50%;
  }

  .album-list .desc {
    width: 100%;
    float: none;
  }

  .album-wrap {
    height: 250px;
    border: 1px solid white;
    overflow: hidden;
  }

  .album-art {
    width: 100%;
    min-height: 100%;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
  }

  .album-wrap:hover .album-art {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

 .album-title {
    padding-right: 1.25em;
 }

}

@media (min-width: 769px) {

  .main-title {
    float: left;
  }

  .search-form {
    width: 422px;
    float: right;
    margin-top: 34px;
  }

  .album-list li {
    width: 33.333333333%;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .album-list li:nth-of-type(3n+1) {
    clear: left;
  }
}

@media (min-width: 1000px) {
  .album-list li {
    width: 25%;
  }

  .album-list li:nth-of-type(4n+1) {
    clear: left;
  }
}
